<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
      <title><%= yield :title %> &mdash; ShineScrum.com</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />      
      <%= csrf_meta_tags %>
      <%= yield :head %>
      <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
      <link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen" />
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
      <script type="text/javascript" src="js/fcommon.js"></script>
      <%#= stylesheet_link_tag    "style", :media => "all" %>
      <%#= stylesheet_link_tag    "flexslider", :media => "screen" %>
      <%#= javascript_include_tag  "jquery", "jquery.flexslider-min", "fcommon" %>
  </head>
  

  <body>
    <div class="top">
      <ul>
        <li class="logo"></li>
        <li class="<%= controller_path == "home" ? 'sel' : nil %>"><a href="/">首页</a></li>
        <li class="<%= controller.action_name == "about" ? 'sel' : nil %>"><a href="/about"><%= t'about_us' %></a></li>
        <li class="<%= controller_path == "trainers" ? 'sel' : nil %>"><a href="team"><%= t'_team' %></a></li>
        <li class="<%= controller.action_name == "partners" ? 'sel' : nil %>"><a href="partners"><%= t'_partner' %></a></li>
        <li class="<%= (["registers", "courses"].include? controller_path) ? 'sel' : nil %>"><a href="/courses"><%= t'_course' %></a></li>
        <li class="<%= controller.action_name == "students" ? 'sel' : nil %>"><a href="/students"><%= t'_student' %></a></li>
        <li class="<%= controller.action_name == "inner" ? 'sel' : nil %>"><a href="/inner"><%= t'_inner' %></a></li>
        <li class="<%= controller.action_name == "library" ? 'sel' : nil %>"><a href="/library"><%= t'_library' %></a></li>
        <li class="<%= controller.action_name == "contact" ? 'sel' : nil %>"><a href="/contact"><%= t'contact_us' %></a></li>
      </ul>
    </div>
    <div class="slide">
      <!--flexsliderV1 Start-->
      <div class="flexslider flexsliderV1">
        <div class="flexCon">
          <ul class="slides">            
            <li><a href="courses"><img src="images/slide01.jpg" border="0" /></a></li>
            <li><a href="courses"><img src="images/slide02.jpg" border="0" /></a></li>
            <li><a href="courses"><img src="images/slide03.jpg" border="0" /></a></li>
          </ul>
        </div>
      </div>
      <!--flexsliderV1 End-->
    </div>
    <%= yield %>
    <div class="foot">Copyright 2013 ShineScrum Inc</div>
<%#* Inc%>
  </body>
</html>
