<!DOCTYPE html>
<html>
  <html xmlns:wb=“http://open.weibo.com/wb”>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= yield :title %> &mdash; ShineScrum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="csm, csm认证, CSM认证培训, cspo, cspo认证, cspo认证培训, cspo培训, scrum培训, scrum敏捷软件开发, scrum敏捷开发培训, scrum 项目管理, scrum认证, scrum master培训, scrum企业内训, scrum, scrum开发管理, scrum 培训, 敏捷 scrum, scrum管理, scrum敏捷, scrum敏捷开发, scrum master, scrum master培训, scrum master 认证,敏捷认证专家, 敏捷权威认证, 官方scrum认证, 官方权威scrum认证, 敏捷教练,  敏捷企业内训, 敏捷项目管理, 敏捷培训, 敏捷内训, 敏捷管理, 认证敏捷培训, 敏捷管理认证, 敏捷认证培训, 敏捷方法, 敏捷开发 培训, 敏捷开发培训, 认证敏捷培训, 敏捷开发认证, Jens Ostergaard, 敏捷认证培训, 敏捷开发项目管理, 敏捷软件开发, 敏捷开发 认证, 敏捷编程, 敏捷开发, 敏捷认证”>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= stylesheet_link_tag    "skin", :media => "screen" %>
    <%= stylesheet_link_tag    "flexslider", :media => "screen" %>
    <%= javascript_include_tag "application"%>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  </head>
  

  <body>
    <header id="branding">
    <div class="branding-container group">
      <div class="logo ">
        <a href="/" title="shinescrum.com">shinescrum.com</a>
      </div>
      <div class="menu-container">
        <nav id="primary">
          <ul class='topLevel'>
            <li class="item first <%= controller_path == "home" ? 'selected' : nil %>"><%= link_to t("navigation.home"), "/" %></li>
            <li class="item <%= controller.action_name == "about" ? 'selected' : nil %>"><%= link_to t("navigation.about_us"), "/about" %></li>
            <li class="item <%= controller_path == "trainers" ? 'selected' : nil %>"><%= link_to t("navigation.team"), trainers_path %></li>
            <!--<li class="item <%= controller.action_name == "partners" ? 'selected' : nil %>"><%= link_to t("navigation.partners"), "/partners" %></li>-->
            <li class="item <%= controller.action_name == "clients" ? 'selected' : nil %>"><%= link_to t("navigation.clients"), "/clients" %></li>
            <li class="item <%= (["registers", "courses"].include? controller_path) ? 'selected' : nil %>"><%= link_to t("navigation.courses"), courses_path %></li>
            <li class="item <%= controller_path == "class_photos" ? 'selected' : nil %>"><%= link_to t("navigation.trainees"), class_photos_path %></li>
            <li class="item <%= controller.action_name == "inner" ? 'selected' : nil %>"><%= link_to t("navigation.training"), "/inner" %></li>
            <li class="item <%= controller.action_name == "library" ? 'selected' : nil %>"><%= link_to t("navigation.knowledge"), "/library" %></li>
            <li class="item last <%= controller.action_name == "contact" ? 'selected' : nil %>"><%= link_to t("navigation.contact_us"), "/contact" %></li>
          </ul>
        </nav>
        <div class="top-links">
          <ul>
            <li>
              <% if I18n.locale == I18n.default_locale %>
                <%= link_to "English", params.merge(:locale=>'en')%>
              <% else %>
                <%= link_to "中文", params.merge(:locale=>'zh')%>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- .branding-container -->
    </header>
    <div class="slide">
      <!--flexsliderV1 Start-->
      <div class="flexslider flexsliderV1">
        <div class="flexCon">
          <ul class="slides">
            <li>
              <%= link_to course_path(12) do
                image_tag "slide_ad_#{I18n.locale}.jpg"
              end %>
            </li>
            <% %w{slide01 slide02 slide03}.each do |slide| %>
              <li>
                <%= link_to courses_path do
                  image_tag "#{slide}_#{I18n.locale}.jpg"
                end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--flexsliderV1 End-->
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-container">
        <div class="lowertop">
          <div class="shinescrum-sina">
            <!-- <a href="http://weibo.com/3215923617/profile?topnav=1&wvr=5&user=1" target="_blank">新浪微博 @ShineScrum</a> -->
            <wb:follow-button uid="3215923617" type="gray_3" width="100%" height="24" ></wb:follow-button>
          </div>
          <div class="weixin">
            <%= image_tag "wechat.png" %>
            <%= image_tag "weixin.png" %>
          </div>
        </div>
        <div class="lowerfoot">
          <%= t 'common.footer.copyright'%>
        </div>
      </div>
    </div>
    <!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://www.shinetechchina.com/piwik/" : "http://www.shinetechchina.com/piwik/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 11);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://www.shinetechchina.com/piwik/piwik.php?idsite=11" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
  </body>
</html>
