<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Scrum Foundation &mdash; The Team</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "front", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="outerWrap">
  <div id="header">
    <div id="headerContent">
      <h1><a href="/"><span>Scrum Foundation</span><img alt="Scrum Foundation" src="/images/logo.gif?1338151239" /></a></h1>
        <p class="login"><span onclick="location.href='/admin/home'">log in</span></p>
      <div class="nav">
        <ul id="topNav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/about/the-team" class="active">The Team</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/classes">Classes</a></li>
          <li><a href="http://scrumfoundation.com/on-site-training">On-Site</a></li>
          <li><a href="/library">Library</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul><!-- /topNav -->
      </div><!-- /nav -->
      <div class="clear"></div>
    </div><!-- /headerContent -->
  </div><!-- /header -->

  <div id="mainContent">
    <h2><%= yield :h2 %></h2>
    <div class="clear"></div>
    <%= yield %>

<div class="clear"></div>

  </div><!-- /mainContent -->

  <div id="footer">
    <div id="footerContent"></div>
  </div><!-- /footer -->
</div><!-- /outerWrap -->


  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-5658313-1");
      pageTracker._trackPageview();
    }
    catch(err) {}
  </script>





<!-- scrumme -->

</body>
</html>
